<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<script type="text/javascript" th:src="@{webjars/jquery/3.2.1/jquery.js}"></script>
<title>用户</title>
<script th:inline="javascript">
</script> 
<style type="text/css">
			table{
		width: 50%;
		text-align: center;
		border-collapse: collapse;
		}
	td{
			border:1px solid grey;
		}
</style>
</head>
<body>
<h3>welcome</h3>
<div th:text="${session.session}"></div>
<table border="1">
<tr>
 <th>编号</th>
 <th>姓名</th>
 <th>性别</th>
 <th>年龄</th>
 <th>编辑</th>
</tr>
<tr th:each="User:${userlist}">
 <td th:text="${User.id}"></td>
 <td th:text="${User.name}"></td>
 <td th:text="${User.size}"></td>
 <td th:text="${User.age}"></td>
 <td><input type="button" onclick="update()"/></td>
</tr>
    

</table>


</body>
</html>